body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    margin: 20px;
}

h2 {
    font-size: 20px;
    margin: 10px;
}

form {
    margin: 20px;
}

input {
    padding: 5px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}